body { 
    background-color: #ffffff; 
    display: flex; 
    flex-direction: column; 
    align-items: center;
    justify-content: flex-start;
    height: 100vh; 
    border-top: 100px solid #0057ff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    font-family: 'Alata', sans-serif;
    color: black;
    
}

h1 {
    font-family: 'Vt323', monospace;
    color: #0057ff;
    font-size: 50px
    
}

img {
    border-radius: 50%;

}


.bordered-text {
    position: relative;
    font-size: 20px; 
    color: #000000;
    background-color: #ffffff;
    padding: 20px;
    border: 8px solid #000000;
    border-radius: 40px;
    margin-top: 20px;
    max-width: 800px;
    margin-bottom: 0;
    text-align: center;
}

.bottom-nav {
    margin-top: auto;
    border: 10px solid #00082f9b; 
    border-radius: 10px; 
    padding: 10px; 
    text-align: center;
   
}

.footer { 
    font-family: 'Alata', sans-serif;
    font-size: 25px;
    background-color: #0057ff; 
    padding: 40px; 
    text-align: center; 
    position: relative; 
    bottom: 0; 
    width: 100%; 
   
}

.footer a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 0 40px; 
}

.footer a:hover {
    color: #ff0000;
}